<?xml version="1.0"?>
<html xmlns="http://www.w3.org/1999/xhtml" 
xmlns:xule="http://xbrl.us/xule/2.0/template"
xmlns:ixt1="http://www.xbrl.org/inlineXBRL/transformation/2010-04-20"
xmlns:ixt4="http://www.xbrl.org/inlineXBRL/transformation/2020-02-12"
xmlns:ferc="http://ferc.gov/form/2021-01-01/ferc"
xmlns:ferc-part="http://www.ferc.gov/form/parts"
>

<head>
    <title>Template - F1F - 001</title>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <link rel="stylesheet" type="text/css" href="form-template.css"/>

</head>

<body class="xbrl">
        <div id="ScheduleIdentificationAbstract"></div>        
        <table class="xbrl" width="100%">
        
        
                <tr class="sch-title">
                        <td colspan="3" class="xbrl">
                                <xule:replace>
                                        <xule:expression class="hide">taxonomy().concept(ferc:ScheduleIdentificationAbstract).label("http://ferc.gov/form/2020-01-01/roles/label/F1FScheduleTitle").text
                                        </xule:expression>
                                        <xule:template-display>
                                                PART I: IDENTIFICATION
                                        </xule:template-display>
                                </xule:replace>
                            </td>
          
        </tr>
         <!-- <td class="xbrl" colspan="3">PART I: IDENTIFICATION</td>-->
        <tr>
            <td class="combinedField xbrl" colspan="2">
                    <xule:replace>
                            <xule:expression class="hide">taxonomy().concept(ferc:RespondentLegalName).label("http://ferc.gov/form/2020-01-01/roles/label/F1FIdentification").text
                            </xule:expression>
                            <xule:template-display>
                                    01 Exact Legal Name of Respondent
                            </xule:template-display>
                     </xule:replace>
                            <p></p>
                    <xule:replace>
                            <xule:expression class="hide" fact="true" name="RespondentLegalName" part="1">[@ferc:RespondentLegalName]
                            </xule:expression>
                            <xule:template-display>
                                    Duke Energy Kentucky, Inc.
                            </xule:template-display>
                    </xule:replace>
                              
            </td>
            <td class="combinedField xbrl" colspan="1">
                    <xule:replace>
                            <xule:expression class="hide">taxonomy().concept(ferc:ReportYear).label("http://ferc.gov/form/2020-01-01/roles/label/F1FIdentification").text
                            </xule:expression>
                            <xule:template-display>
                                02 Year/ Period of Report
                            </xule:template-display>
                    </xule:replace>
                    <p></p>
                <br></br>
                End of: 
                <xule:replace>
                    <xule:expression class="hide" fact="true">[@ferc:ReportYear @period=$currentDuration]</xule:expression>
                    <xule:template-display>2018</xule:template-display>
                </xule:replace>
                <span>/</span>
                <xule:replace>
                    <xule:expression class="hide" fact="true">[@ferc:ReportPeriod @period=$currentDuration]</xule:expression>
                    <xule:template-display>Q4</xule:template-display>
                </xule:replace>
            </td>
        </tr>
        <tr>
                <td class="combinedField xbrl" colspan="3">
                        <xule:replace>
                                <xule:expression class="hide">taxonomy().concept(ferc:PreviousNameAndDateOfChangeAbstract).label("http://ferc.gov/form/2020-01-01/roles/label/F1FIdentification").text
                                </xule:expression>
                                <xule:template-display>
                                        03 Previous Name and Date of Change <i>(if name changed during year)</i>
                                </xule:template-display>
                         </xule:replace>
                        <p></p>
                         <xule:replace>
                                <xule:expression class="hide" fact="true" part="1">[@ferc:PreviousName @period=$currentDuration]
                                </xule:expression>
                                <xule:template-display>
                                       FERC Test 1 Company
                                </xule:template-display>
                        </xule:replace>
                        <span>/</span>
                        <xule:replace>
                                <xule:expression class="hide" fact="true">[@ferc:NameChangeDate @period=$currentDuration]</xule:expression>
                                <xule:template-display>2018-09-04</xule:template-display>
                        </xule:replace>
                                  
                </td>
        </tr>
        <tr>
                <td class="combinedField xbrl" colspan="3">
                        <xule:replace>
                                <xule:expression class="hide">taxonomy().concept(ferc:AddressOfPrincipalOfficeAtEndOfPeriod).label("http://ferc.gov/form/2020-01-01/roles/label/F1FIdentification").text
                                </xule:expression>
                                <xule:template-display>
                                        04 Address of Principal Office at End of Year <i>(Street, City, State, Zip Code)</i>
                                </xule:template-display>
                         </xule:replace>
                            <p></p>
                        <xule:replace>
                                <xule:expression class="hide" fact="true">[@concept=ferc:AddressOfPrincipalOfficeAtEndOfPeriod]
                                </xule:expression>
                                <xule:template-display>
                                        4580 Olympic Boulevard, Erlanger, KY 41018
                                </xule:template-display>
                        </xule:replace>
                                  
                </td>
        </tr>
        <tr>
                <td class="combinedField xbrl" colspan="2">
                        <xule:replace>
                                <xule:expression class="hide" >taxonomy().concept(ferc:NameOfContactPerson).label("http://ferc.gov/form/2020-01-01/roles/label/F1FIdentification").text
                                </xule:expression>
                                <xule:template-display>
                                        05 Name of Contact Person
                                </xule:template-display>
                         </xule:replace>
                            <p></p>
                        <xule:replace>
                                <xule:expression class="hide" fact="true">[@concept=ferc:NameOfContactPerson]
                                </xule:expression>
                                <xule:template-display>
                                        Anna Anderson 
                                </xule:template-display>
                        </xule:replace>
                                  
                </td>
                <td class="combinedField xbrl" colspan="1">
                        <xule:replace>
                                <xule:expression class="hide">taxonomy().concept(ferc:TitleOfContactPerson).label("http://ferc.gov/form/2020-01-01/roles/label/F1FIdentification").text
                                </xule:expression>
                                <xule:template-display>
                                        06 Title of Contact Person
                                </xule:template-display>
                        </xule:replace>
                            <p></p>
                        <xule:replace>
                                <xule:expression class="hide" fact="true">[@concept=ferc:TitleOfContactPerson]
                                </xule:expression>
                                <xule:template-display>
                                        Accounting Analyst II
                                </xule:template-display>
                        </xule:replace>
                                  
                </td>
        </tr>
        <tr>
                <td class="combinedField xbrl" colspan="3">
                        <xule:replace>
                                <xule:expression class="hide">taxonomy().concept(ferc:AddressOfContactPerson).label("http://ferc.gov/form/2020-01-01/roles/label/F1FIdentification").text
                                </xule:expression>
                                <xule:template-display>
                                        07 Address of Contact Person<i> (Street, City, State, Zip Code)</i>
                                </xule:template-display>
                        </xule:replace>
                            <p></p>
                        <xule:replace>
                                <xule:expression class="hide" fact="true">[@concept=ferc:AddressOfContactPerson]
                                </xule:expression>
                                <xule:template-display>
                                        550 South Tryon Street, Charlotte, NC 28202
                                </xule:template-display>
                        </xule:replace>
                                  
                </td>
        </tr>
        <tr>
                <td class="combinedField xbrl" colspan="1">
                        <xule:replace>
                                <xule:expression class="hide">taxonomy().concept(ferc:TelephoneOfContactPerson).label("http://ferc.gov/form/2020-01-01/roles/label/F1FIdentification").text
                                </xule:expression>
                                <xule:template-display>
                                        08 Telephone of Contact Person, <i>Including Area Code</i>
                                </xule:template-display>
                        </xule:replace>
                            <p></p>
                        <xule:replace>
                                <xule:expression class="hide" fact="true">[@concept=ferc:TelephoneOfContactPerson]
                                </xule:expression>
                                <xule:template-display>
                                        (980) 373-2179  
                                </xule:template-display>
                        </xule:replace>
                                  
                </td>
                <td class="combinedField xbrl" colspan="1">
                        <xule:replace>
                                <xule:expression class="hide">taxonomy().concept(ferc:SubmissionType).label("http://ferc.gov/form/2020-01-01/roles/label/F1Identification").text
                                </xule:expression>
                                <xule:template-display>
                                        09 This Report is
                                </xule:template-display>
                            </xule:replace>
                                
                                <br></br>
                                (1) 
                                <xule:replace>
                                        <xule:expression html="true" class="hide">if missing({covered @concept=ferc:SubmissionType}) <![CDATA[
                                        '<span class="checkbox">&#9744;</span> An Original']]> else if [@concept=ferc:SubmissionType @period=$currentDuration] == "O" <![CDATA[
                                        '<span class="checkbox">&#9745;</span> An Original']]> else <![CDATA[
                                        '<span class="checkbox">&#9744;</span> An Original']]>
                                        </xule:expression>  
                                    <xule:template-display>
                                            <input type="checkbox"/> An Original
                                    </xule:template-display>
                                </xule:replace>
                                <br></br>
                            (2)
                                <xule:replace>
                                        <xule:expression html="true" class="hide">if missing({covered @concept=ferc:SubmissionType}) <![CDATA[
                                        '<span class="checkbox">&#9744;</span> A Resubmission']]> else if [@concept=ferc:SubmissionType @period=$currentDuration] == "R" <![CDATA[
                                        '<span class="checkbox">&#9745;</span> A Resubmission']]> else <![CDATA[
                                        '<span class="checkbox">&#9744;</span> A Resubmission']]>
                                            </xule:expression> 
                                        <xule:template-display>
                                                <input type="checkbox" checked = "true"/> A Resubmission
                                        </xule:template-display>
                                </xule:replace>               
                </td>
                <td class="combinedField xbrl" colspan="1">
                        <xule:replace>
                                <xule:expression class="hide">taxonomy().concept(ferc:ReportDate).label("http://ferc.gov/form/2020-01-01/roles/label/F1FIdentification").text
                                </xule:expression>
                                <xule:template-display>
                                        10 Date of Report <i>(Mo, Da, Yr)</i>
                                </xule:template-display>
                        </xule:replace>
                            <p></p>
                        <xule:replace>
                                <xule:expression class="hide" fact="true" format="ixt4:date-month-day-year">first(list([@concept=ferc:ReportDate]))
                                </xule:expression>
                                <xule:template-display>
                                        04/26/2019
                                </xule:template-display>
                        </xule:replace>
                                  
                </td>
        </tr>
        <tr>
                <td class="combinedField xbrl" colspan="2">
                        <xule:replace>
                                <xule:expression class="hide" >taxonomy().concept(ferc:NameOfOfficerWithCustodyOfCorporateBooks).label("http://ferc.gov/form/2020-01-01/roles/label/F1FIdentification").text
                                </xule:expression>
                                <xule:template-display>
                                        11 Name of Officer Having Custody of the Books of Account
                                </xule:template-display>
                         </xule:replace>
                            <p></p>
                        <xule:replace>
                                <xule:expression class="hide" fact="true">first(list([@concept=ferc:NameOfOfficerWithCustodyOfCorporateBooks]))
                                </xule:expression>
                                <xule:template-display>
                                        Anna Anderson 
                                </xule:template-display>
                        </xule:replace>
                                  
                </td>
                <td class="combinedField xbrl" colspan="1">
                        <xule:replace>
                                <xule:expression class="hide">taxonomy().concept(ferc:OfficerTitle).label("http://ferc.gov/form/2020-01-01/roles/label/F1FIdentification").text
                                </xule:expression>
                                <xule:template-display>
                                        12 Title of Officer
                                </xule:template-display>
                        </xule:replace>
                            <p></p>
                        <xule:replace>
                                <xule:expression class="hide" fact="true">first(list([@concept=ferc:OfficerTitle]))
                                </xule:expression>
                                <xule:template-display>
                                        CFO
                                </xule:template-display>
                        </xule:replace>
                                  
                </td>
        </tr>
        <tr>
                <td class="combinedField xbrl" colspan="3">
                        <xule:replace>
                                <xule:expression class="hide">taxonomy().concept(ferc:AddressWhereCorporateBooksAreKept).label("http://ferc.gov/form/2020-01-01/roles/label/F1FIdentification").text
                                </xule:expression>
                                <xule:template-display>
                                        13 Address of Officer Where Books of Account Are Kept <i>(Street, City, State, Zip Code)</i>
                                </xule:template-display>
                         </xule:replace>
                            <p></p>
                        <xule:replace>
                                <xule:expression class="hide" fact="true">first(list([@concept=ferc:AddressWhereCorporateBooksAreKept]))
                                </xule:expression>
                                <xule:template-display>
                                        4580 Olympic Boulevard, Erlanger, KY 41018
                                </xule:template-display>
                        </xule:replace>
                                  
                </td>
        </tr>

        <tr>
                <td class="combinedField xbrl" colspan="1">
                        <xule:replace>
                                <xule:expression class="hide">taxonomy().concept(ferc:StateOfIncorporation).label("http://ferc.gov/form/2020-01-01/roles/label/F1FIdentification").text
                                </xule:expression>
                                <xule:template-display>
                                        14 Name of State Where Respondent Is Incorporated
                                </xule:template-display>
                        </xule:replace>
                            <p></p>
                        <xule:replace>
                                <xule:expression class="hide" fact="true">first(list([@concept=ferc:StateOfIncorporation]))
                                </xule:expression>
                                <xule:template-display>
                                        NY
                                </xule:template-display>
                        </xule:replace>
                                  
                </td>
               
                <td class="combinedField xbrl" colspan="1">
                        <xule:replace>
                                <xule:expression class="hide">taxonomy().concept(ferc:IncorporationDate).label("http://ferc.gov/form/2020-01-01/roles/label/F1FIdentification").text
                                </xule:expression>
                                <xule:template-display>
                                        15 Date of Incorporation <i>(Mo, Da, Yr)</i>
                                </xule:template-display>
                        </xule:replace>
                            <p></p>
                        <xule:replace>
                                <xule:expression class="hide" fact="true" >first(list([@concept=ferc:IncorporationDate]))
                                </xule:expression>
                                <xule:template-display>
                                        04/26/2019
                                </xule:template-display>
                        </xule:replace>
                                  
                </td>
                <td class="combinedField xbrl" colspan="1">
                        <xule:replace>
                                <xule:expression class="hide">taxonomy().concept(ferc:SpecialLawRespondentIncorporatedUnder).label("http://ferc.gov/form/2020-01-01/roles/label/F1FIdentification").text
                                </xule:expression>
                                <xule:template-display>
                                        16 If applicable, Reference to Law Incorporated Under
                                </xule:template-display>
                        </xule:replace>
                            <p></p>
                        <xule:replace>
                                <xule:expression class="hide" fact="true">first(list([@concept=ferc:SpecialLawRespondentIncorporatedUnder]))
                                </xule:expression>
                                <xule:template-display>
                                        04/26/2019
                                </xule:template-display>
                        </xule:replace>
                                  
                </td>
        </tr>
        <tr>
                <td class="combinedField xbrl" colspan="3">
                        <xule:replace>
                                <xule:expression class="hide">taxonomy().concept(ferc:MannerAndExtentOfCorporateControl).label("http://ferc.gov/form/2020-01-01/roles/label/F1FIdentification").text
                                </xule:expression>
                                <xule:template-display>
                                        17  Explanation of Manner and Extent of Corporate Control (If the respondent controls or is controlled by any other corporation, business trust, or similar organization)
                                </xule:template-display>
                         </xule:replace>
                            <p></p>
                        <xule:replace>
                                <xule:expression class="hide" fact="true">first(list([@concept=ferc:MannerAndExtentOfCorporateControl]))
                                </xule:expression>
                                <xule:template-display>
                                        NA
                                </xule:template-display>
                        </xule:replace>
                                  
                </td>
        </tr>

        
    
    </table>
    <br/>
        <div class="schedule-footer">
                <div>FERC FORM No.
                        <xule:replace>
                                <xule:expression class="hide" fact="true">first(list([@ferc:FormType @period=$currentDuration]))</xule:expression>
                                <xule:template-display>1-F</xule:template-display>
                        </xule:replace>
                        <span> </span> 
                        <xule:replace>
                                <xule:expression class="hide">" (" + taxonomy().concept(ferc:ScheduleIdentificationAbstract).label("http://ferc.gov/form/2020-01-01/roles/label/F1FDateRevised").text + ")"
                                </xule:expression>
                                <xule:template-display>
                                02-04
                                </xule:template-display>
                        </xule:replace>
                                
                </div>
                <div class="center-text">Page 
                        <xule:replace>
                                <xule:expression class="hide">taxonomy().concept(ferc:ScheduleIdentificationAbstract).label("http://ferc.gov/form/2020-01-01/roles/label/F1FPage").text
                                </xule:expression>
                                <xule:template-display>
                                101
                                </xule:template-display>
                        </xule:replace>
                </div> 
        </div>
</body>

</html>